:root {
    --oro: rgb(167, 140, 36);
    --azzurro: rgb(29, 157, 216);
}

/* Importo le font del progetto */
@font-face {
    font-family: "PPAgrandir-Bold";
    src: url("./fonts/PPAgrandir-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "PPAgrandir-Regular";
    src: url("./fonts/PPAgrandir-Regular.woff") format('woff');
}

@font-face {
    font-family: "PPEiko-Black";
    src: url("./fonts/PPEiko-Black.woff") format('woff');
}

@font-face {
    font-family: "PPEiko-Medium";
    src: url("./fonts/PPEiko-Medium.woff") format('woff');
}

/* !General styles */
.titlesMedium {
    font-family: "PPEiko-Medium";
}

.titlesBlack {
    font-family: "PPEiko-Black";
}

.paragrafi {
    font-family: "PPAgrandir-Regular";
}

.paragrafiBold {
    font-family: "PPAgrandir-Bold";
}

.gold {
    color: var(--oro);
}

.azzurro {
    color: var(--azzurro);
}

.btn-custom {
    background-color: var(--oro);
    width: fit-content;
    padding: 10px 55px;
    color: white;
    font-family: "PPAgrandir-Regular";
    border-radius: 30px;
}

.btn-custom:hover {
    background-color: rgb(137, 115, 30)
}

p,
li,
a,
h5 {
    font-size: 20px;
}

/* !background inizio sito */
.background-img-header {
    background-image: url("./media/sfondo.jpg");
    background-size: cover;
    background-position: center;
}

/* !Navbar */
.nav-custom {
    display: flex;
    justify-content: center;
}

.logo-filo-nav {
    height: 70px;
}

/* !Header */
.header-custom {
    height: 80vh;
    padding: 0 150px;
}

.h1-background {
    font-size: 60px;
    background-color: var(--oro);
    padding: 0 10px;
    width: fit-content;
}

.icona-header {
    height: 500px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.353);
}

/* !Section programma */
.section-programma {
    padding-top: 80px;
}

.background-img-programma {
    background-image: url("./media/sfondo-programma.png");
    background-size: cover;
    background-position: center;
}

.h2-programma {
    font-size: 60px;
}

.lista-custom {
    list-style-type: none;
}

.dotted-line {
    border-left: 3px dotted black;
}

.logo-bari {
    height: 150px;
    margin: 50px 0 20px;
}

/* !Section bio-gallery */
.background-img-bio {
    background-image: url("./media/background-bio.png");
    background-size: cover;
    background-position: top;
}

.icone-social {
    font-size: 25px;
}

/* !footer */

.background-footer {
    background-color: rgb(206, 239, 255);
}


/* !media */
@media screen and (max-width:1320px) {
    .header-custom {
        height: 85vh;
        padding: 0 100px;
    }
    
    .h1-background {
        font-size: 35px;
    }
    
    p, li, a, h5 {
        font-size: 16px;
    }

    .icona-header {
        height: 400px;
    }
}

@media screen and (max-width:500px) {
    .header-custom {
        padding: 0 30px;
    }
    
    .h1-background {
        font-size: 30px;
    }
    
    .h2-programma {
        font-size: 30px;
    }
    
    .icona-header {
        height: 300px;
    }
}